<div id="myCarousel" class="carousel slide" style="margin-top: 0px">
    <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      </ol> -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/carousel.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Mvc 4 Bootstrap 3</h1>
                    <p>You can modify this template easy</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#">Vote Up</a>
                        <a class="btn btn-lg btn-danger" href="#">Vote Down</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- Left and right buttons
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
</div>
<!-- /.carousel -->
