@model IEnumerable<ponyproject.Models.Video>

@{
    ViewBag.Title = "When Ponies Dream";
}

<!-- Render the Video Player. -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="flex-video widescreen">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/-Z7UnO66q9w" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <!--/span-->
    </div>
    <div class="row marginBottom40px">
        <div class="col-lg-6">
            <h1 class="underVideo">Friendship is Manly</h1>
        </div>
        <div class="col-lg-2 col-lg-offset-4">
            <a class="btn btn-success btn-lg btn-block">Vote Up</a>
        </div>

    </div>
</div>

<div class="container marketing">
    <div class="row">

        <div class="col-lg-6 textAlignCenter">
            <img class="img-circle" src="/Content/images/Icon1.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Add a video</h2>
            <p>Add interesting videos to this week's playlist by submitting a YouTube link below. Any video is subject to being blocked by an administrator.</p>
            <input type="text" class="form-control marginBottom20px" placeholder="Paste YouTube link here">
            <p><a class="btn btn-default" href="#">Submit »</a></p>
        </div>

        <div class="col-lg-6 textAlignCenter">
            <img class="img-circle" src="/Content/images/Icon2.png" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
            <h2>Current playlist</h2>
            <p>Rankings for this week's playlist.</p>
            <table class="table table-hover table-condensed textAlignLeft">
                <tr>
                    <th width="50">Rank</th>
                    <th width="300">Title</th>
                </tr>
                @{ 
                    int rankCount = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.Raw(rankCount)</td>
                        <td><a href="#">@Html.DisplayFor(modelItem => item.title)</a></td>
                    </tr>
                    
                    rankCount++;
                }
            </table>
        </div>
    </div>
</div>

