.underVideo {
  margin-top: 0px;
  margin-bottom: 10px;
}

.marginBottom40px {
    margin-bottom: 40px;
}

.marginBottom20px {
    margin-bottom: 20px;
}

.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}